$ui-transition-time: 0.5s;
$ui-transition-type: ease-in-out;


.debugOnly
{
	display: none;
}

.ui-layer
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	
    height: 100%;
    max-width: 100%;
    max-height: 100%;
	z-index: 10;	

	/* simple CSS3 fade in/out. For more fancy JS animations, please use already loaded library velocity which is faster than jquery */
	/* This animates when you enter and leave the view: applies to all views */

	&.ng-enter,
	&.ng-leave 
	{
  		-webkit-transition: $ui-transition-time $ui-transition-type all;
  		-moz-transition: $ui-transition-time $ui-transition-type all;
  		-o-transition: $ui-transition-time $ui-transition-type all;
  		transition: $ui-transition-time $ui-transition-type all;
	}

	&.ng-enter,
	&.ng-leave.ng-leave-active 
	{
  		opacity: 0;
	}

	&.ng-leave 
	&.ng-enter.ng-enter-active 
	{
  		opacity: 1;
	}
	
	.ui-layer-inner
	{
		padding: 20px;
		text-align: center;
		color: #FFF;
		font-size: 20px;
		
		/* This animates when you show/hide based on the player isPlaying status: applies to scenes only since menu and splash UIS show on top of background loop */
		&.scene-screen
		{
			-webkit-transition: $ui-transition-time $ui-transition-type all;
			-moz-transition: $ui-transition-time $ui-transition-type all;
			-o-transition: $ui-transition-time $ui-transition-type all;
			transition: $ui-transition-time $ui-transition-type all;
			opacity: 1;
		}

		&.scene-screen.ng-hide
		{
			-webkit-transition: $ui-transition-time $ui-transition-type all;
			-moz-transition: $ui-transition-time $ui-transition-type all;
			-o-transition: $ui-transition-time $ui-transition-type all;
			transition: $ui-transition-time $ui-transition-type all;
			opacity: 0;
		}

		a
		{
			display: inline-block;
			text-decoration: none;
			padding: 6px 10px;
			margin-right: 5px;
			background: rgba(0,0,0,0.8);
			color: #fff;

			&.visited
			{
				background: rgba(55,55,55,0.8);
				color: #ddd;
			}

			&:hover,
			&.visited:hover
			{
				background: rgba(33,33,33,0.8);
			}	
		}
	}
}






