<div class="menu-screen ui-layer-inner">
	<p class="menuIntro">{{menuCtrl.menuData.introText}}</p>
	<div class="menuBranching">
		<a class="branchLink" ng-repeat="scene in menuCtrl.scenes" ng-show="{{scene.isOnMenu}}" ui-sref="scene({sceneID:scene.id, playOnEnter:scene.playOnEnter})" ng-class="{'visited': scene.isVisited}">{{scene.menuText}}</a>
	</div>
</div>