<div class="scene-screen ui-layer-inner" ng-hide="$root.playerState.isPlaying" id="{{sceneCtrl.sceneID}}">
	<h2>{{sceneCtrl.sceneID}}</h2>
	<p class="sceneIntro">{{sceneCtrl.sceneData.introText}}</p>
	<p>This scene plays from {{sceneCtrl.sceneData.startTime}} to {{sceneCtrl.sceneData.endTime}}</p>
 	<div class="sceneBranching">
		<a class="branchLink" ng-repeat="branch in sceneCtrl.sceneData.branches" ng-show="(branch.id === 'menu')" ui-sref="menu({playOnEnter:branch.playOnEnter})">{{branch.linkText}}</a>
		<a class="branchLink" ng-repeat="branch in sceneCtrl.sceneData.branches" ng-show="!(branch.id === 'menu')" ui-sref="scene({sceneID:branch.id, playOnEnter:branch.playOnEnter})" ng-class="{'visited': branch.isVisited}" ng-click="sceneCtrl.onBranchClick(branch.id)">{{branch.linkText}}</a>
	</div>
</div>