<div class="splash-screen ui-layer-inner">
	<p class="splashIntro">{{splashCtrl.splashData.introText}}</p>
	<a ui-sref="menu({playOnEnter:splashCtrl.menuData.playOnEnter})" class="menuButton">{{splashCtrl.splashData.menuLinkText}}</a>
</div>